@import "var";

.@{uiName} {
  &-action-sheet{
    .resetImg();
  }
  &-action-sheet-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @zIndexNormal + 20;
  }
  //分享操作类型
  &-action-sheet-panel {
    background-color: #ffffff;
    padding: 0 @actionSheetPanelPadding;
    .@{uiName} {
      &-action-sheet-item {
        width: 25%;
      }
      &-action-sheet-item {
        margin: 0 0 @actionSheetPadding 0;
      }
      &-action-sheet-image{
        margin: 0 auto;
      }
      &-action-sheet-item-name {
        margin: @actionSheetPadding/2 auto 0;
      }
    }
  }
  &-action-sheet-title {
    font-size: @actionSheetTitleFontSize;
    line-height: @actionSheetLineHeight;
    border-bottom: 1px solid @borderColor;
  }
  &-action-sheet-content {
    padding: @actionSheetPanelPadding 0 @actionSheetPadding;
    font-size: 0;
    margin-right: -@actionSheetPanelPadding;
    width: 100%;
  }
  &-action-sheet-item {
    display: inline-block;
    margin: 0 @actionSheetPanelPadding @actionSheetPadding 0;
    text-align: center;
  }
  &-action-sheet-image {
    width: @actionSheetImageSize;
    max-height: @actionSheetImageSize;
  }
  &-action-sheet-item-name {
    margin-top: @actionSheetPadding/2;
    font-size: @actionSheetItemName;
    width: @actionSheetImageSize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  //列表操作类型
  &-action-sheet-list {
    background-color: #ffffff;
  }
  &-action-sheet-list-item {
    position: relative;
    line-height: @actionSheetLineHeight;
    text-align: center;
    &:hover, &:active {
      background-color: #f6f8fa;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      left:0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #dce1e8;
      transform: scaleY(.5);
      -webkit-transform: scaleY(.5);
    }
  }
  &-action-sheet-button {
    .resetButton();
    color: #030303;
    margin-top: @actionSheetButtonMarginTop;
    width: 100%;
    height: @actionSheetLineHeight;
    font-size: @actionSheetButtonFontSize;
    background-color: #ffffff;
    &:active{
      background-color: #F3F6F7;
    }
  }
  &-action-sheet-icon {
    width: @actionSheetLineHeight/2;
    height: @actionSheetLineHeight/2;
  }
  &-action-sheet-icon,
  &-action-sheet-list-title {
    vertical-align: middle;
  }
  &-action-sheet-list-title {
    font-size: @actionSheetTitleFontSize;
    display: inline-block;
    min-width: @actionSheetLineHeight*2;
  }

  //选择操作类型
  &-action-sheet-checkbox {
    background-color: #ffffff;
  }
  &-action-sheet-checkbox-list {
    margin-left: @actionSheetPadding;
  }
  &-action-sheet-header {
    background-color: #EAEFF3;
    line-height: @actionSheetHeader;
    padding: 0 @actionSheetPadding;
    .icon-close{
      cursor: pointer;
      color: @secondaryFontColor;
      &:hover,&:active{
        opacity: 0.5;
      }
    }
  }
  &-action-sheet-checkbox-commit {
    cursor: pointer;
    float: right;
    color: @themeColor;
    text-decoration: none;
    &:hover,&:active{
      opacity: 0.5;
    }
  }
  &-action-sheet-checkbox-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: @actionSheetLineHeight;
    &:after {
      content: '';
      display: block;
      position: absolute;
      left:0;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #dce1e8;
      transform: scaleY(.5);
      -webkit-transform: scaleY(.5);
    }
  }
  &-action-sheet-checkbox-label {
    flex: 1;
    -webkit-box-flex: 1;
    font-size: @actionSheetTitleFontSize;
    vertical-align: middle;
    .iconfont {
      font-size: @actionSheetTitleFontSize;
    }
  }
}