@import "var";
@import "reset.css";
@import "common";
@import "../font/iconfont.css";

/* 重置reset样式 */
html,body{
  height: 100%;
  min-height: 100%;
}
body{
  color: @defaultFontColor;
  font-size: @bodyFontSize;
  font-family: -apple-system,Microsoft YaHei,Arial,Microsoft JhengHei,Helvetica Neue,sans-serif;
}
