/* color */
/* font color */
/* page color */
/* button mixin */
/* button */
.UIName-button {
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  border-radius: 0.44rem;
  padding: 0 0;
  font-size: 0.32rem;
  text-align: center;
  color: #ffffff;
  background-color: #3cbaff;
  cursor: pointer;
}
.UIName-button-normal {
  background-color: #3cbaff;
}
.UIName-button-inverse {
  border: 0.02rem solid #b9c7d2;
  color: #98a1a8;
  background-color: #ffffff;
}
.UIName-button-inverse:active {
  background: #f3f4f5;
}
.UIName-button-large {
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  border-radius: 0.44rem;
  padding: 0 0;
  font-size: 0.32rem;
}
.UIName-button-middle {
  width: auto;
  height: 0.7rem;
  line-height: 0.7rem;
  border-radius: 0.35rem;
  padding: 0 0.88rem;
  font-size: 0.28rem;
}
.UIName-button-small {
  width: auto;
  height: 0.56rem;
  line-height: 0.56rem;
  border-radius: 0.28rem;
  padding: 0 0.24rem;
  font-size: 0.24rem;
}
.UIName-button.is-disabled {
  color: #98a1a8;
  background: #DCE1E7;
}
.UIName-button:not(.is-disable):active {
  opacity: 0.5;
}
