@import "var";

/* cell */
.@{uiName} {

  &-cell-container {
    background-color: #ffffff;
  }
  &-cell-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: @cellPadding;
      border-bottom: 1px solid #dce1e8;
      transform: scaleY(.5);
      -webkit-transform: scaleY(.5);
    }
  }

  // -*-item
  &-input-item,
  &-counter-item,
  &-checkbox-item,
  &-switch-item {
    padding:0 @cellPadding;
    height:0.88rem;
  }
  &-textarea-item {
    padding:0 @cellPadding;
    height:auto;
  }
  &-input-label,
  &-cell-title {
    font-size: @cellLabelFontSize;
    padding-right: @cellPadding;
  }

  &-input-control {
    -webkit-flex: 1;
    flex: 1;
    >input,>textarea{
      display: block;
      width: 100%;
      border:none;
    }
    >textarea{
      margin:@cellPadding 0;
      height:2.8rem;
      resize: none;
    }
  }
  &-textarea-count{
    color: @warnColor;
    padding-bottom: @cellPadding;
    text-align: right;
  }
  &-cell-title{
    -webkit-flex: 1;
    flex: 1;
  }

  &-checkbox-item:after{
    left:@cellPadding + 0.68;
  }

}