@import "var";
/* font-size 规范文本大小 */
h1 {
    font-size: 0.36rem;
}

h2 {
    font-size: 0.34rem;
}

h3 {
    font-size: 0.32rem;
}

h4 {
    font-size: 0.28rem;
}

h5 {
    font-size: 0.26rem;
}

h6 {
    font-size: 0.22rem;
}

/* font color 文本颜色 */
.@{uiName} {
    &-text-default {
        color: @defaultFontColor;
    }
    &-text-secondary {
        color: @secondaryFontColor;
    }
    &-text-active {
        color: @activeFontColor;
    }
    &-text-warn {
        color: @warnFontColor;
    }
    &-text-tips {
        color: @tipsFontColor;
    }
    &-text-white {
        color: @whiteFontColor;
    }
}

/* background color 区块背景色 */
.@{uiName} {
    &-bg-blue{
        background-color: @themeColorBlue;
    }
    &-bg-olive{
        background-color: @themeColorOlive;
    }
    &-bg-orange{
        background-color: @themeColorOrange;
    }
    &-bg-yellow{
        background-color: @themeColorYellow;
    }
    &-bg-purple{
        background-color: @themeColorPurple;
    }
    &-bg-pink{
        background-color: @themeColorPink;
    }
    &-bg-red{
        background-color: @themeColorRed;
    }
    &-bg-skyblue{
        background-color: @themeColorSkyBlue;
    }
    &-bg-royalblue{
        background-color: @themeColorRoyalBlue;
    }
    &-bg-green{
        background-color: @themeColorGreen;
    }
    &-bg-brown{
        background-color: @themeColorBrown;
    }
    &-bg-grey{
        background-color: @themeColorGrey;
    }
    &-bg-whitesmoke{
        background-color: @themeColorWhiteSmoke;
    }
    &-bg-white{
        background-color: @themeColorWhite;
    }
}

/* flex grid  基于flex布局的栅格系统*/
.@{uiName} {
    &-flex-container {
        display: -webkit-box;
        display: flex;
    }
    &-flex-item {
        -webkit-box-flex: 1;
        flex: 1;
        display: block;
        width: 0;
    }
    &-flex-content {
        width: 100%;
        overflow: hidden;
    }
}

/* 辅助类 */
.left {
    float: left;
}
.right {
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.block-center{
    margin: 0 auto;
}
.@{uiName} {
    &-ellipse{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &-multi-ellipse{
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp:@line-clamp-value;
    }
}
.divided{
    position: relative;
    &:after{
        content: '';
        display: block;
        height: .3rem;
        border-left: 1px solid #dce1e8;
        position: absolute;
        vertical-align: middle;
        top: 50%;
        margin-top:-0.15rem;
        transform: scaleX(.5);
        -webkit-transform: scaleX(.5);
    }
    &:first-child:after{
        display: none;
    }
}
