@import "var";

.@{uiName} {
  &-counter {

    &-icon{
      font-size:0.44rem;
      color: @themeColor;
    }
    &-number{
      color: @secondaryFontColor;
      font-size:0.32rem;
      line-height: 0.44rem;
      padding: 0 0.1rem;
    }
  }

}