@import "var";

.@{uiName} {
  &-counter {

    &-icon{
      font-size:@counterIconSize;
      color: @themeColor;
    }
    &-number{
      color: @secondaryFontColor;
      font-size:@counterNumberFontSize;
      line-height: @counterIconSize;
      padding: 0 @cellPadding/2;
    }
  }

}