@import "var";

@keyframes error {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: @formError;
  }
}

@-webkit-keyframes error {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: @formError;
  }
}

@-moz-keyframes error {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: @formError;
  }
}

/* cell */
.@{uiName} {

  &-form {
    //background-color: #ffffff;
  }
  &-form-item {
    .resetInput();
    position: relative;
    padding: 0 @formPadding;
    height: @formItemHeight;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: @formPadding;
      border-bottom: 1px solid #dce1e8;
      transform: scaleY(.5);
      -webkit-transform: scaleY(.5);
    }
    &:active {
      background-color: @formItemActiveBG;
    }
    &.error {
      background-color: @formError;
      animation: error .9s 3 linear;
      -webkit-animation: error .9s 3 linear;
      -moz-animation: error .9s 3 linear;
    }
    textarea, input {
      background-color: transparent;
    }
  }

  // -*-item
  &-textarea-item {
    height: auto;
  }
  &-input-label,
  &-cell-title {
    font-size: @formLabelFontSize;
    padding-right: @formPadding;
  }

  &-input-control {
    -webkit-flex: 1;
    flex: 1;
    > input, > textarea {
      display: block;
      width: 100%;
      border: none;
    }
    > textarea {
      margin: @formPadding 0;
      height: @formTextareaHeight;
      resize: none;
    }
  }
  &-textarea-count {
    color: @warnColor;
    padding-bottom: @formPadding;
    text-align: right;
  }
  &-form-title {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
  }

  &-checkbox-item:after {
    left: @formPadding + @checkboxSize * 1.5;
  }

  //radio
  &-radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    background-color: transparent;
    &-input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      opacity: 0;
    }
    &-inner {
      display: none;
      position: absolute;
      top: 0;
      right: @formPadding;
      width: @formRadioInnerSize;
      height: @formItemHeight;
      line-height: @formItemHeight;
      > .icon-true {
        position: relative;
        z-index: 10;
        color: @themeColor;
      }
    }
    &-input:checked + &-inner {
      display: block;
    }
  }
  //cell secondary text
  &-form-secondary {
    color: @secondaryFontColor;
  }
  //imagePicker
  &-imagePicker-item,
  &-filePicker-item {
    &:after {
      display: none;
    }
  }
  &-icon-container {
    width: @iconContainerSize;
    .icon-add-field {
      font-size: @addFieldTconSize;
      color: #B9C7D2;
    }
  }
  &-image-content {
    padding: @formPadding @formPadding 0;
    background-color: #ffffff;
  }
  &-image-item {
    position: relative;
    display: inline-block;
    width: @imageItemSize;
    height: @imageItemSize;
    margin-right: @formPadding;
    margin-bottom: @formPadding;
    border-radius: @imageItemRadius;
    .@{uiName}-image-container, img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: @imageItemRadius;
      overflow: hidden;
    }
  }
  &-delete-image {
    position: absolute;
    border-radius: 50%;
    width: @deleteImageIconSize;
    height: @deleteImageIconSize;
    font-size: @deleteImageIconSize;
    color: #cccccc;
    background-color: #ffffff;
    right: -2px;
    top: -2px;
  }
  &-image-upload-progress {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: rgba(12, 33, 63, 0.80);
    text-align: center;
    color: #fff;
    line-height: @imageItemSize;
    border-radius: @imageItemRadius;
    .icon-warn {
      color: @warnFontColor;
    }
  }

  //filePicker
  &-file-container {
    padding: 0 @formPadding @formPadding;
    background-color: #ffffff;
  }
  &-file-content {
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-flex: 1;
    padding: 0 @fieldPadding;
    color: @secondaryFontColor;
  }
  &-file-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid @borderColor;
    margin-top: @fieldPadding;
    background: rgba(241, 244, 248, 0.3);
    padding: @fieldPadding;
    &:first-child {
      margin-top: 0;
    }
  }
  &-file-icon {
    width: @fieldIconSize;
    height: @fieldIconSize;
  }
  &-file-name {
    font-size: @fieldNameFontSize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-file-delete {
    width: @deleteFieldIconSize;
    .icon-close {
      color: @secondaryFontColor;
    }
  }
  &-file-error,
  &-file-size,
  &-upload-time {
    font-size: @fieldInfoFontSize;
  }
  &-file-error {
    color: @warnColor;
  }
  &-upload-time {
    padding: 0 @formPadding @formPadding;
    color: @secondaryFontColor;
    background-color: #ffffff;
  }
}