/* button */
.resetButton() {
  outline: none; border: none; text-shadow: none; background: transparent; overflow: hidden;padding:0;
}

/* img */
.resetImg() {
  img{
    max-width: 100%
  }
}

/* resetUl */
.resetUl() {
  ul {list-style: none;margin: 0;padding: 0;font-weight: normal;vertical-align: baseline;background: transparent;}
}

/* input */
.resetInput() {
  input, select {vertical-align: middle;}
  input, select, textarea {margin: 0;outline: none;padding:0;}
  input[type="radio"] {vertical-align: text-bottom;}
  input[type="checkbox"] {vertical-align: bottom;}
}

/* all */
.resetAll() {
  button{ outline: none; border: none; text-shadow: none; background: transparent; overflow: hidden;padding:0;}
}