@import "var";

/* search */
.@{uiName} {
  &-search{

  }
  &-searchbar{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #ffffff;
  }
  &-input-wrap {
    position: relative;
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    padding:0.14rem 0.24rem;
    height:0.88rem;
    line-height: 0.88rem;
  }
  &-search-icon {
    position: absolute;
    top:0;
    left: 0.48rem;
  }
  &-search-reset {
    position: absolute;
    top:0;
    right:0.48rem;
  }
  &-input-ph {
    position: absolute;
    top:0;
    left:0;
    right:0;
    text-align: center;
    color: @tipsFontColor;
  }
  &-search-input{
    display: block;
    padding:0 0.24rem 0 0.72rem;
    width:100%;
    height:100%;
    border:none;
    border-radius: 0.44rem;
    color: @tipsFontColor;
    background: #F0F4F7;
  }
  &-search-cancel{
    font-size:0.3rem;
    padding-right:0.24rem;
  }
}