body {
  background-color: #eaeff3;
  color: #5e5e5e;
}
/* demo展示通用样式 */
//垂直居中
.middleCenter{
  position: absolute;
  top:50%;
  left:50%;
  transform-origin:50% 50%;
  transform:translate(-50% ,-50%);
  -webkit-transform-origin:50% 50%;
  -webkit-transform:translate(-50% ,-50%);
  -moz-transform-origin:50% 50%;
  -moz-transform:translate(-50% ,-50%);
  -ms-transform-origin:50% 50%;
  -ms-transform:translate(-50% ,-50%);
}
// page full
.page-full{
  min-height: 100%;
}

/* 作为demo预览页文字排版布局样式 */
.banner {
  padding: 0.6rem;
  p {
    margin-top: 0.2rem;
  }
}

.title {
  padding: 0.6rem;
  p {
    margin-top: 0.2rem;
  }
}

.content {
  padding: 0 0.24rem;
  .row {
    padding: 0.16rem 0 0.36rem;
    &.clearContentPadding{
      margin-left:-0.24rem;
      margin-right:-0.24rem;
    }
  }
  p {
    margin-top: 0.2rem;
  }
  .panel {
    border-radius: 0.04rem;
    padding: 0 0.2rem;
    margin-bottom: 0.16rem;
  }
}

.button-container button,
.statePage-button-container button
{
    margin-bottom: 0.16rem;
}

.layout {
  .row{
    padding:0.16rem 0 0;
  }
  .yun-grid-container,
  .yun-flex-container {
    margin: 0 -0.08rem;
  }
  .yun-flex-content,
  .yun-gird-content {
    line-height: 0.75rem;
    border-right: 0.08rem solid #eaeff3;
    border-left: 0.08rem solid #eaeff3;
  }
}

.utility {
  .icon-container {
    .iconfont {
      font-size: 0.44rem;
    }
  }
  ul li {
    text-align: center;
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.88rem;
    border-radius: 0.08rem;
    margin:0 0.1rem 0.1rem 0;
    vertical-align: middle;
  }
  .border-1px{
    p{
      padding:0.2rem;
      background-color: rgba(0,0,0,0.02);
      span{
        padding:0 0.3rem;
      }
    }
  }
}

.color {
  ul li {
    text-align: center;
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    border-radius: 0.08rem;
    margin:0 0.1rem 0.1rem 0;
  }
}

.cell .row{
  margin:0.16rem -0.24rem;
}